.card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 8px;
  font-family: sans-serif;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card .text {
  width: 100%;
}

.card .product-name {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.card .product-price {
  margin-top: 8px;
  font-size: 1.1rem;
}

.card .add-to-cart {
  border: 0;
  width: 100%;
  padding: 12px;
  font-size: 1.25rem;
  font-weight: bold;
}
